In [1]:
import pandas as pd

In [2]:
file = input()
df = pd.read_csv(file)
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Palau,Office Supplies,Online,H,3/6/2016,517073523,3/26/2016,2401,651.21,524.96,1563555.21,1260428.96,303126.25
1,Europe,Poland,Beverages,Online,L,4/18/2010,380507028,5/26/2010,9340,47.45,31.79,443183.00,296918.60,146264.40
2,North America,Canada,Cereal,Online,M,1/8/2015,504055583,1/31/2015,103,205.70,117.11,21187.10,12062.33,9124.77
3,Europe,Belarus,Snacks,Online,C,1/19/2014,954955518,2/27/2014,1414,152.58,97.44,215748.12,137780.16,77967.96
4,Middle East and North Africa,Oman,Cereal,Offline,H,4/26/2019,970755660,6/2/2019,7027,205.70,117.11,1445453.90,822931.97,622521.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4999995,Middle East and North Africa,Iraq,Household,Online,L,3/17/2014,940436398,4/23/2014,4884,668.27,502.54,3263830.68,2454405.36,809425.32
4999996,Europe,Monaco,Meat,Offline,H,11/8/2015,407689177,11/28/2015,3142,421.89,364.69,1325578.38,1145855.98,179722.40
4999997,Australia and Oceania,Solomon Islands,Clothes,Online,C,6/1/2020,727000367,7/18/2020,4419,109.28,35.84,482908.32,158376.96,324531.36
4999998,Australia and Oceania,Marshall Islands,Cosmetics,Offline,L,2/12/2020,714043796,3/22/2020,282,437.20,263.33,123290.40,74259.06,49031.34
4999999,Europe,Greece,Office Supplies,Online,C,5/11/2019,604805791,6/12/2019,4329,651.21,524.96,2819088.09,2272551.84,546536.25

In [13]:
df['Order Priority'] == 'c'

0          False
1          False
2          False
3          False
4          False
           ...
4999995    False
4999996    False
4999997    False
4999998    False
4999999    False
Name: Order Priority, Length: 5000000, dtype: bool

In [30]:
df.loc[(df['Order ID'] == 443368995)]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
220448,Sub-Saharan Africa,South Africa,Fruits,Offline,M,8/18/2013,443368995,8/19/2013,1593,9.33,6.92,14862.69,11023.56,3839.13
3717184,Sub-Saharan Africa,South Africa,Fruits,Offline,M,8/18/2013,443368995,8/19/2013,1593,9.33,6.92,14862.69,11023.56,3839.13